<!-- START WRAPPER -->
<div class="wrap-header">
    <div class="content-header">
        <!-- START BRAND -->
        <div class="brand flex-fill">
            <a href="javascript:;">
                <img src="./assets/images/logo.png" alt=""/>
            </a>
        </div>
        <!-- END BRAND -->

        <!-- START SEARCH -->
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find...">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <!-- END SEARCH -->

        <!-- START UPLOAD -->
        <div class="upload">
            <button class="btn btn-primary">
                <i class="fas fa-arrow-up me-2"></i>Upload
            </button>
        </div>
        <!-- END SEARCH -->

        <!-- START USER -->
        <div class="user">
            <div class="d-flex">
                <div class="pe-2">
                    <img src="./assets/images/user.png" alt=""/>
                </div>
                <div class="position-relative">
                    <span class="badge rounded-pill bg-primary">
                        43
                    </span>
                    <h5 class="mb-0">
                        Waseem
                    </h5>
                    <span>Arshad</span>
                </div>
            </div>
        </div>
        <!-- END SEARCH -->
    </div>

    <!-- START SEARCH -->
    <div class="contant-header-responsive">
        <!-- START SEARCH -->
        <div class="search-responsive">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find...">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <!-- END SEARCH -->

        <!-- START UPLOAD -->
        <div class="upload-responsive">
            <button class="btn btn-primary">
                <i class="fas fa-arrow-up me-2"></i>Upload
            </button>
        </div>
        <!-- END SEARCH -->
    </div>
</div>
<!-- END WRAPPER -->

<!-- START MENU -->
<nav class="wrap-menu">
    <ul>
        <li><a href="javascript:;">Videos</a></li>
        <li><a href="javascript:;">People</a></li>
        <li><a href="javascript:;">Documents</a></li>
        <li><a href="javascript:;">Events</a></li>
        <li><a href="javascript:;">Communities</a></li>
        <li><a href="javascript:;">Favorites</a></li>
        <li><a href="javascript:;">Channels</a></li>
    </ul>
</nav>
<!-- END MENU -->
